.assoc_sch {
    height: 70px;
    width: 70px;
}

.box_wrap {
    border: #f2f2f2 solid 1px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 10px;
    padding: 30px 20px;
    margin: 0 auto 50px;
    text-align: center;
    background: #fff;
}
.team_img {
    text-align: center;
    overflow: hidden;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto 12px;
    position: relative;
}
.box_wrap {
    margin: 0 auto 35px;
}
